*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
}
body{
    background-color: aqua;

}
.header{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 1px;
}
.header .logo img{
    height: 70px;
    width: auto;
}